<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.bi.billage.user.model.vo.User" alias="user" />
		<typeAlias type="com.bi.billage.board.model.vo.Board" alias="board" />
		<typeAlias type="com.bi.billage.board.model.vo.ADBoard" alias="adboard" />
		<typeAlias type="com.bi.billage.reply.model.vo.Reply" alias="reply" />
		<typeAlias type="com.bi.billage.group.model.vo.Group" alias="group" />
		<typeAlias type="com.bi.billage.board.model.vo.Novel" alias="novel" />
		<typeAlias type="com.bi.billage.board.model.vo.Serial" alias="serial" />
		<typeAlias type="com.bi.billage.board.model.vo.SerialRequest" alias="serialRequest" />
		<typeAlias type="com.bi.billage.board.model.vo.ReportBoard" alias="Report" />
		<typeAlias type="com.bi.billage.board.model.vo.UsedBoard" alias="used" />
		<typeAlias type="com.bi.billage.board.model.vo.ReviewBoard" alias="review" />
		<typeAlias type="com.bi.billage.board.model.vo.Book" alias="book" />
		<typeAlias type="com.bi.billage.follow.model.vo.Follow" alias="follow"/>
	</typeAliases>
	<!-- **주의 : 미리 등록을 해두려면 해당 클래스가 진짜 존재하고 있는 상태여야함 -->
	
	<mappers>
		<mapper resource="/mappers/user-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/group-mapper.xml" />
		<mapper resource="/mappers/ADBoard-mapper.xml" />
		<mapper resource="/mappers/novel-mapper.xml" />
		<mapper resource="/mappers/serial-mapper.xml" />
		<mapper resource="/mappers/report-mapper.xml" />	
		<mapper resource="/mappers/used-mapper.xml" />	
		<mapper resource="/mappers/review-mapper.xml" />	
		<mapper resource="/mappers/follow-mapper.xml"/>
	</mappers>
	<!-- **주의 : 미리 등록을 해두려면 해당 mapper 파일이 진짜 존재하고 있는 상태여야함 + namespace속성까지 작성해둬야함 -->
	
	<!-- 
		environments, dataSource에 기술했던 DB연결정보
		=> DB등록정보는 서버연동과 동시에 이루어져야 하기 때문에
		서버 켜짐과 동시에 바로 읽혀지는 파일이 root-context.xml에 기술할 예정
	 -->
	




</configuration>
