<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ADBoardMapper">
	
	<resultMap type="adboard" id="drawBoardResultSet">
		<result column="DRAW_NO" property="boardNo"/>
		<result column="CLOSE_DATE" property="closeDate"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="BOOK_WRITER" property="bookWriter"/>
		<result column="GENRE" property="genre"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="PRIZE_USER" property="prizeUser"/>
		<result column="USER_NO" property="userNo"/>
		<result column="ACCEPT_STATUS" property="acceptStatus"/>
		<result column="TRY_POINT" property="tryPoint"/>
		<result column="NICKNAME" property="nickname"/>
	</resultMap>
	<resultMap type="adboard" id="auctionBoardResultSet">
		<result column="AUCTION_NO" property="boardNo"/>
		<result column="CLOSE_DATE" property="closeDate"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="COUNT" property="count"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="BOOK_WRITER" property="bookWriter"/>
		<result column="GENRE" property="genre"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="PRIZE_USER" property="prizeUser"/>
		<result column="USER_NO" property="userNo"/>
		<result column="START_PRICE" property="startPrice"/>
		<result column="INSTANTLY_PRICE" property="instantlyPrice"/>
		<result column="BID_PRICE" property="bidPrice"/>
		<result column="NOW_PRICE" property="nowPrice"/>
		<result column="NICKNAME" property="nickname"/>
	</resultMap>	
		
	<!-- 추첨 글 작성 -->
	<insert id="insertDrawBoard" parameterType="adboard">
		INSERT
		  INTO
		  		DRAW_BOARD
		  		(
		  		DRAW_NO
		  		,TITLE${
		  		,USER_NO
		  		,BOOK_WRITER
		  		,GENRE
		  		,CLOSE_DATE
		  		,TRY_POINT
		  		,CONTENT
		  		,ORIGIN_NAME
		  		,CHANGE_NAME
		  		)
		VALUES
				(
				SEQ_DNO.NEXTVAL
				,#{title}
				,#{userNo}
				,#{bookWriter}
				,#{genre}
				,#{closeDate}
				,#{tryPoint}
				,#{content}
				,#{originName}
				,#{changeName}
				)
	</insert>
	
	<!-- 추첨글 전체 조회  -->
	<select id="selectDrawBoardList" resultMap="drawBoardResultSet">
		SELECT
				DRAW_NO
				,TITLE
				,GENRE
				,TRY_POINT
				,CLOSE_DATE
				,COUNT
				,CHANGE_NAME
		  FROM
		  		DRAW_BOARD
		 WHERE
		 		STATUS = 'N'
		   AND
		   		ACCEPT_STATUS = 'Y'
		 ORDER
		 	BY
				DRAW_NO DESC		 		
	</select>
	
	<!-- 추첨글 조회수 증가 -->
	<update id="drawIncreaseCount" parameterType="_int">
		UPDATE
				DRAW_BOARD
		   SET
		   		COUNT = COUNT + 1
		 WHERE
		 		DRAW_NO = #{boardNo}
	</update>
	
	<!-- 추첨글 상세조회 -->
	<select id="selectDrawBoard" parameterType="_int" resultMap="drawBoardResultSet">
		SELECT
				DRAW_NO
				,D.USER_NO
				,NICKNAME
				,ORIGIN_NAME
				,CHANGE_NAME
				,CLOSE_DATE
				,GENRE
				,TITLE
				,BOOK_WRITER
				,CONTENT
				,TRY_POINT
				,CREATE_DATE
		  FROM
		  		DRAW_BOARD D
		  JOIN
		  		MEMBER M ON (D.USER_NO = M.USER_NO)
		 WHERE
		 		DRAW_NO = #{boardNO} 
	</select>
	
	<!-- 추첨 글 삭제 -->
	<update id="deleteDrawBoard" parameterType="_int">
		UPDATE
				DRAW_BOARD
		   SET
		   		STATUS = 'Y'
		 WHERE
		 		DRAW_NO = #{boardNo}
	</update>
	
	
	<!-- ====================================== -->
	
	
	<!-- 경매글 리스트 조회 -->
				<!-- 여기에 입찰자 수 하기  -->
	<select id="selectAcutionBoardList" resultMap="auctionBoardResultSet">
		SELECT
				AUCTION_NO
				,TITLE
				,GENRE
				,NOW_PRICE
				,CLOSE_DATE
				,COUNT
				,CHANGE_NAME
		  FROM
		  		AUCTION_BOARD
		 WHERE
		 		STATUS = 'N'
		 ORDER
		 	BY
				AUCTION_NO DESC		 		
	</select>
	
	<!-- 경매글 작성 -->
	<insert id="insertAuctionBoard" parameterType="adboard">
		INSERT
		  INTO
		  		AUCTION_BOARD
		  		(
		  		AUCTION_NO
		  		,TITLE
		  		,USER_NO
		  		,BOOK_WRITER
		  		,GENRE
		  		,CLOSE_DATE
		  		,INSTANTLY_PRICE
		  		,START_PRICE
		  		,BID_PRICE
		  		,NOW_PRICE
		  		,CONTENT
		  		,ORIGIN_NAME
		  		,CHANGE_NAME
		  		)
		VALUES
				(
				SEQ_ANO.NEXTVAL
				,#{title}
				,#{userNo}
				,#{bookWriter}
				,#{genre}
				,#{closeDate}
				,#{instantlyPrice}
				,#{startPrice}
				,#{bidPrice}
				,#{startPrice}
				,#{content}
				,#{originName}
				,#{changeName}
				)
	</insert>
	
	<!-- 경매글 조회수 증가 -->
	<update id="auctionIncreaseCount" parameterType="_int">
		UPDATE
				AUCTION_BOARD
		   SET
		   		COUNT = COUNT + 1
		 WHERE
		 		AUCTION_NO = #{boardNo}
	</update>
	
	<!-- 경매글 상세조회 -->
	<select id="selectAuctionBoard" resultMap="auctionBoardResultSet">
		SELECT
				AUCTION_NO
				,A.USER_NO
				,NICKNAME
				,ORIGIN_NAME
				,CHANGE_NAME
				,CLOSE_DATE
				,GENRE
				,TITLE
				,BOOK_WRITER
				,CONTENT
				,NOW_PRICE
				,START_PRICE
				,BID_PRICE
				,INSTANTLY_PRICE
				,CREATE_DATE
		  FROM
		  		AUCTION_BOARD A
		  JOIN
		  		MEMBER M ON (A.USER_NO = M.USER_NO)
		 WHERE
		 		AUCTION_NO = #{boardNO} 
	</select>
	
	<!-- 경매글 삭제 -->
	<update id="deleteAuctionBoard" parameterType="_int">
		UPDATE
				AUCTION_BOARD
		   SET
		   		STATUS = 'Y'
		 WHERE
		 		DRAW_NO = #{boardNo}
	</update>

	<!-- 추첨자 등록 -->
	<insert id="insertDrawUser" parameterType="adboard">
		INSERT
		  INTO
		  		DRAW
		  		(
		  		DRAW_NO
		  		,USER_NO
		  		,POINT
		  		)
		VALUES
				(
				#{boardNo}
				,#{userNo}
				,#{tryPoint}
				)
	</insert>
	
	<!-- 추첨 취소 -->
	<delete id="deleteDrawUser">
		DELETE
		  FROM
		  		DRAW
		 WHERE
		 		DRAW_NO = #{boardNo}
		   AND
		   		USER_NO = #{userNo}
	</delete>
	
	<!-- 추첨여부 조회  -->
	<select id="checkDraw" parameterType="adboard" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		DRAW
		 WHERE
		 		DRAW_NO = #{boardNo}
		   AND
		   		USER_NO = #{userNo}
	</select>
	
</mapper>

