<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubMapper">
	
	
	<resultMap type="club" id="groupResultSet">
		<result column="CLUB_NO" property="clubNo" />
		<result column="CLUB_NO" property="userNo" />
		<result column="CLUB_NAME" property="clubName" />
		<result column="CLUB_LIMIT" property="clubLimit" />
		<result column="CLUB_CREATEDATE" property="clubCreatedate" />
		<result column="CLUB_DISCRIPT" property="clubDiscript" />
		<result column="CLUB_LOCATION" property="clubLocation" />
		<result column="CLUB_STATUS" property="clubStatus" />
		<result column="CLUB_IMG" property="clubImg" />
		<result column="newCount" property="newCount" />
		<result column="CLUB_COUNT" property="clubCount" />
		<result column="likeCount" property="likeCount" />
	</resultMap>
	
	<!-- 모임 페이지 리스트 종 갯수 조회  -->
	<select id="selectListCount" resultType="_int">
		SELECT 
				COUNT(*)
		  FROM
		  		club
  		 WHERE
  		 		club_status = 'Y'
	</select>
	
	<!-- 모임 리스트 페이지에 뿌려줄 정보  조회 -->
	<select id="selectList" resultMap="groupResultSet">
		SELECT 
			   CLUB_NO
			  ,USER_NO
			  ,CLUB_NAME
			  ,CLUB_LIMIT
			  ,CLUB_CREATEDATE
			  ,CLUB_DISCRIPT
			  ,CLUB_IMG
			  ,CLUB_LOCATION
			  ,CLUB_IMG
			  ,CLUB_COUNT
              ,CASE WHEN
                      (select to_date(SYSDATE, 'YY-MM-DD') from dual) - (select to_date(CLUB_CREATEDATE, 'YY-MM-DD') from dual) <![CDATA[ > ]]> 30 THEN 0
                   WHEN
                      (select to_date(SYSDATE, 'YY-MM-DD') from dual) - (select to_date(CLUB_CREATEDATE, 'YY-MM-DD') from dual) <![CDATA[ < ]]> 30 THEN 1
                   END AS "newCount"
	  	  FROM
	  	  	   CLUB
  	  	 WHERE
  	  	 	   CLUB_STATUS = 'Y'
 	  	 ORDER
 	  	    BY
 	  	       CLUB_NO DESC
	
	</select>
	
	<!-- 모임 생성 쿼리문  -->
	<insert id="insertGroup" parameterType="club">
		INSERT
		  INTO 
		        CLUB
		       (
		        CLUB_NO,
		        USER_NO,
			    CLUB_NAME,
			    CLUB_LIMIT,
				CLUB_CREATEDATE,
				CLUB_DISCRIPT,
				CLUB_IMG,
				CLUB_LOCATION,
				CLUB_STATUS
		       )
	    VALUES 
			   (
			   SEQ_CNO.NEXTVAL
			  ,#{userNo}
			  ,#{clubName}
			  ,#{clubLimit}
			  ,SYSDATE
			  ,#{clubDiscript}
			  ,#{clubImg}
			  ,#{clubLocation}
			  ,'Y'
			   )
	</insert>
	
	<!-- Group List 조회수 Update -->
	<update id="increaseCount" parameterType="_int">
		UPDATE 
				"GROUP"
		   SET
				GROUP_COUNT = ( GROUP_COUNT + 1 )
		 WHERE
		 		GROUP_NO = #{ groupNo }
		   AND
		   		GROUP_STATUS = 'Y'				
	</update>
	
	<!-- Group List Detail Select -->
	<select id="selectDetailGroup" parameterType="_int" resultMap="groupResultSet" >
		SELECT 
				GROUP_NO
			   ,M.NICKNAME
			   ,GROUP_TITLE
			   ,GROUP_NUM
			   ,GROUP_CREATEDATE
			   ,GROUP_DESCRIBE
			   ,GROUP_DAY
			   ,GROUP_LOCATION
			   ,GROUP_IMG
			   ,GROUP_COUNT
               ,(select count(*) from group_like where group_no = 13) as "likeCount"			   
		 FROM
		       "GROUP" G
		 JOIN
		       MEMBER M ON(G.USER_NO = M.USER_NO)
		WHERE
		       GROUP_NO = ${ groupNo }
		  AND 
		       GROUP_STATUS = 'Y'      
		                 	   
	</select>
	
</mapper>
