<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="followMapper">

		<resultMap id="userResultSet2" type="user">
			<result column="USER_ID" 			property="userId" />
			<result column="USER_PWD"			property="userPwd" />
			<result column="NAME"				property="name" />
			<result column="EMAIL"				property="email" />
			<result column="NICKNAME"			property="nickname" />
			<result column="PHONE"				property="phone" />
			<result column="BIRTH_DATE"			property="birthDate" />
			<result column="GENDER"				property="gender" />
			<result column="ADDRESS"			property="address" />
			<result column="DETAIL_ADDRESS"		property="detailAddress" />
			<result column="USER_GRADE"			property="userGrade" />
			<result column="USER_NO"			property="userNo" />
			<result column="FOLLOWING"       property="following"/>
			<result column="FOLLOWER"         property="follower"/>
			<result column="REVIEWCOUNT"         property="reviewCount"/>
			<result column="AVGSTAR"         property="avgStar"/>
			<result column="MAXSTAR"         property="maxStar"/>
		</resultMap>
		
		<resultMap id="reviewResultSet2" type="review">
			<result column="REVIEW_NO"      property="reviewNo" />
			<result column="USER_NO"		property="userNo" />
			<result column="REVIEW_STAR"	property="reviewStar" />
			<result column="REVIEW_TITLE"	property="reviewTitle" />
			<result column="REVIEW_CONTENT"	property="reviewContent" />
			<result column="CREATE_DATE"	property="createDate" />
			<result column="COUNT"		    property="count" />
			<result column="REVIEW_STATUS"	property="reviewStatus" />
			<result column="BOOK_TITLE" 	property="bookTitle" />
			<result column="BOOK_AUTHOR"	property="bookAuthor" />
			<result column="BOOK_GENRE"		property="bookGenre" />
			<result column="BOOK_IMAG"		property="bookImag" />
			<result column="BOOK_POINT"  	property="bookPoint" />
			<result column="BOOK_NO"	    property="bookNo" />
			<result column="BOOK_PUBLISHER"	    property="bookPublisher" />
			<result column="BOOK_PUBLISHER"	    property="bookPublisher" />
			<result column="NICKNAME"	    property="nickname" />
		</resultMap>
		
		<resultMap type="star" id="starRsultSet">
			<result column="STAR1"      property="star1" />
			<result column="STAR2"      property="star2" />
			<result column="STAR3"      property="star3" />
			<result column="STAR4"      property="star4" />
			<result column="STAR5"      property="star5" />
		</resultMap>
		
		<select id="selectLoginUser" parameterType="_int" resultMap="userResultSet2">
			select
					user_id
					,user_pwd
					,name
					,email
					,nickname
					,phone
					,birth_date
					,gender
					,address
					,detail_address
					,user_grade
					,user_no
					,(
					select 
							count(*)
					from
						   follow
					 where
					       user_no1 = #{userNo}   	
					) following
					,(
					select
							count(*)
					  from
							follow
					where
					        user_no2 = #{userNo}		
					) follower
			from
			       member
			where
			       user_no = #{userNo}       		
		</select>
		
		<select id="selectFollowingList" parameterType="_int" resultMap="userResultSet2">
			select
				     user_id
					,user_pwd
					,name
					,email
					,nickname
					,phone
					,birth_date
					,gender
					,address
					,detail_address
					,user_grade
					,user_no
				  from
				      	member m
				  where
					     user_no in (
					                    	select
					                          		user_no2
					                         from
					                          		follow
					                       where
					                                user_no1 = #{userNo})
		</select>
		
		<!-- 서로 팔로잉 한 list -->
		<select id="selectFollowerList1" parameterType="_int" resultMap="userResultSet2">
			select
				     user_id
				    ,user_pwd
				    ,name
				    ,email
				    ,nickname
				    ,phone
				    ,birth_date
				    ,gender
				    ,address
				    ,detail_address
				    ,user_grade
				    ,user_no
				  from
				        member m
				  where
				         user_no in (select
				                          user_no1
				                        from
				                          follow
				                         where
				                         user_no2 = #{userNo}
				                    INTERSECT
				                            select
				                                    user_no2
				                                from
				                                    follow
				                                 where
				                                        user_no1 = #{userNo})
		</select>
		
		<!-- 나를 팔로잉한 사람들 나는 안 함 -->
		
		<select id="selectFollowerList2" parameterType="_int" resultMap="userResultSet2">
			select
				     user_id
				    ,user_pwd
				    ,name
				    ,email
				    ,nickname
				    ,phone
				    ,birth_date
				    ,gender
				    ,address
				    ,detail_address
				    ,user_grade
				    ,user_no
				  from
				        member m
				  where
				         user_no in (select
						                          user_no1
						                        from
						                          follow
						                         where
						                         user_no2 = #{userNo}
						                    MINUS
						                            select
						                                    user_no2
						                                from
						                                    follow
						                                 where
						                                        user_no1 = #{userNo})
		</select>
		
		<insert id="insertFollow" parameterType="follow">
			insert
			   into
			          follow
			          (
			          user_no1
			         ,user_no2
			          )
		   values
			         (
			         #{userNo1}
			        ,#{userNo2}
			         )       
		</insert> 
		
		<delete id="deleteFollow" parameterType="follow">
			 delete
			   from
			           follow
			 where
			           user_no2 = #{userNo2}      
		</delete>
		
		<select id="selectReviewList" parameterType="_int" resultMap="reviewResultSet2">
			select
					REVIEW_NO
					,USER_NO
					,REVIEW_STAR
					,REVIEW_TITLE
					,REVIEW_CONTENT
					,CREATE_DATE
					,COUNT
					,REVIEW_STATUS
					,BOOK_TITLE
					,BOOK_AUTHOR
					,BOOK_GENRE
					,BOOK_IMAG
					,BOOK_POINT
					,BOOK_NO
					,BOOK_PUBLISHER
					, (
						select
						        nickname
						   from
						         member
						   where
						         user_no = #{userNo}           
					)NICKNAME
			from
			       review
			where
			        user_no = #{userNo}       
					
		</select>
		
		<select id="selectUser" parameterType="_int" resultMap="userResultSet2">
		
		select
					user_id
					,user_pwd
					,name
					,email
					,nickname
					,phone
					,birth_date
					,gender
					,address
					,detail_address
					,user_grade
					,user_no
					,(
					select 
							count(*)
					from
						   follow
					 where
					       user_no1 = #{userNo}   	
					) following
					,(
					select
							count(*)
					  from
							follow
					where
					        user_no2 = #{userNo}		
					) follower
					,(
					select
					       count(*)
					from
					       review       
					where
					       user_no=#{userNo}     
					) reviewCount
					,
					(
					select
							round(avg(review_star),1)
					from
					      review
					where
					     user_no = #{ userNo}
					) avgStar
					, (
						select
			                    review_star
			              from
			                   review
			            group
			               by
			                  review_star, user_no
			            having
			                   user_no = #{userNo}
			              and 
			                count(review_star) = (
						                                      select 
						                                            max(count(review_star)) 
						                                       from 
						                                           review 
						                                     group 
						                                        by 
						                                          review_star)
						)	maxStar
			from
			       member
			where
			       user_no = #{userNo}       		
		</select>
		
		<select id="selectStar" parameterType="_int" resultMap="starRsultSet">
			select
					(
					select
					        count(*)
					    from
					         review
					    where
					         user_no=#{user_no}
					      and
					          review_star = 1       
					) star1
					,(
					select
					        count(*)
					    from
					         review
					    where
					         user_no=#{user_no}
					      and
					          review_star = 2       
					) star2
					,(
					select
					        count(*)
					    from
					         review
					    where
					         user_no=#{user_no}
					      and
					          review_star = 3       
					) star3
					,(
					select
					        count(*)
					    from
					         review
					    where
					         user_no=#{user_no}
					      and
					          review_star = 4      
					) star4
					,(
					select
					        count(*)
					    from
					         review
					    where
					         user_no=#{user_no}
					      and
					          review_star = 5       
					) star5
					from
					       review
					where
					        rownum = 1      
		
		</select>
		
		<select id="selectGoodReview" parameterType="follow" resultMap="reviewResultSet2">
			select
				      book_title
				      ,book_imag
				from
				      review
			 where
				       user_no = #{userNo1}
				and
				      review_star = 5
				INTERSECT
				select
					      book_title
					      ,book_imag
				  from
				          review
				where
				          user_no =#{userNo2}
				   and
				         review_star = 5
		</select>
		
		<select id="selectBadReview" parameterType="follow" resultMap="reviewResultSet2">
			(select
				      book_title
				      ,book_imag
				  from
				      review
				  where
				      user_no = #{userNo1}
				  and
				      review_star = 5 
				      
				intersect
				
				select
				      book_title
				      ,book_imag
				  from
				      review
				  where
				      user_no = #{userNo2}
				   and
				     review_star = 1)
				     
				union     
				
				(select
				      book_title
				      ,book_imag
				  from
				      review
				  where
				      user_no = #{userNo1}
				  and
				      review_star = 1 
				      
				intersect
				
				select
				      book_title
				      ,book_imag
				  from
				      review
				  where
				      user_no = #{userNo2}
				   and
				     review_star = 5)     
		</select>

</mapper>
