<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messageMapper">
	
	
	<resultMap type="message" id="messageResultSet">
		<result column="USER_NO"			 property="userNo" />
		<result column="USER_NO2"			 property="userNo2" />
		<result column="MESSAGE_CONTENT"	 property="messageContent" />
		<result column="MESSAGE_DATE"		 property="messageDate" />
		<result column="MESSAGE_STATUS"		 property="messageStatus" />
		<result column="NICKNAME"			 property="nickname" />
		<result column="USER_ID"			 property="userId" />
		<result column="NICKNAME2"			 property="nickname2" />
		<result column="USER_ID2"			 property="userId2" />
		<result column="TITLE"			 	 property="title" />
	</resultMap>
	
	<!-- 쪽지 전송 -->
	<insert id="insertMessage" parameterType="message">
		INSERT
		  INTO
		  		MESSAGE
		  		(
		  		 MESSAGE_NO
		  		,USER_NO
		  		,USER_NO2
		  		,MESSAGE_CONTENT
		  		)
		VALUES
		 		(
		 		 SEQ_MNO.NEXTVAL
		 		,#{userNo}
		 		,#{userNo2}
		 		,#{messageContent}
		 		)
	</insert>
	
	
	<!-- (Club Message Insert) 단체 쪽지 전송  -->
	<insert id="insertClubMessage" parameterType="java.util.List">
		INSERT 
		  INTO
				MESSAGE
				(
				 MESSAGE_NO
				,USER_NO
				,USER_NO2
				,MESSAGE_CONTENT
				,MESSAGE_DATE
				,MESSAGE_STATUS	
				)
				(SELECT SEQ_MNO.NEXTVAL, A. * FROM
		(<foreach item="message" index="index" separator="UNION ALL" collection="list" >
	    SELECT
		 		 #{ message.userNo } AS USER_NO
		 		,#{ message.userNo2 } AS USER_NO2
		 		,#{ message.messageContent } AS MESSAGE_CONTENT
		 		,SYSDATE AS MESSAGE_DATE
		 		,0 AS MESSAGE_STATUS
 		  FROM
 		  		DUAL
		</foreach>) A) 
	</insert>
	
	<!-- User Message List Select -->
	<select id="selectMessageList" parameterType="_int" resultMap="messageResultSet">
        SELECT 
		         ME.USER_NO
		        ,M.USER_ID
		        ,M.NICKNAME
		        ,ME.USER_NO2
		        ,MM.USER_ID "USER_ID2"
		        ,MM.NICKNAME "NICKNAME2"
                ,CASE WHEN LENGTH(ME.MESSAGE_CONTENT) <![CDATA[<]]> 10 THEN SUBSTR(ME.MESSAGE_CONTENT,0,10) 
                      WHEN LENGTH(ME.MESSAGE_CONTENT) <![CDATA[>]]> 10 THEN CONCAT(SUBSTR(ME.MESSAGE_CONTENT,0,10),'...')   
                 END AS "TITLE"
		        ,ME.MESSAGE_CONTENT
		        ,MESSAGE_DATE
		        ,MESSAGE_STATUS
          FROM 
        		MESSAGE ME
          JOIN 
          		MEMBER M ON(ME.USER_NO = M.USER_NO)
          JOIN 
          		MEMBER MM ON(ME.USER_NO2 = MM.USER_NO)
         WHERE 
         		ME.USER_NO2 = #{ userNo }
         ORDER 
         	BY 
         		MESSAGE_DATE DESC
	</select>
	
	
	<!-- Update -->
	<update id="updateMessage" parameterType="message">
		UPDATE 
				MESSAGE
		   SET
		  		MESSAGE_STATUS = 1
  		 WHERE 
  		 		USER_NO = #{ userNo }
 		   AND 
 		   		USER_NO2 = #{ userNo2 }
  		   AND 
				MESSAGE_CONTENT = TRIM(#{ messageContent })
	</update>

</mapper>
