<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rentMapper">

	<resultMap id="RentBoardResultSet" type="rent">
		<result column="RENT_NO"		property="rentNo" />
		<result column="USER_NO"		property="userNo" />
		<result column="RENT_USERNO"	property="rentUserNo" />
		<result column="RENT_TITLE"		property="rentTitle" />
		<result column="RENT_CONTENT"	property="rentContent" />
		<result column="RENT_POINT"		property="rentPoint" />
		<result column="CREATEDATE"		property="createDate" />
		<result column="RENT_DATE"		property="rentDate" />
		<result column="DUE_DATE"		property="dueDate" />
		<result column="RENT_STATUS"	property="rentStatus" />
		<result column="RENT_BOOKTITLE"	property="rentBookTitle" />
		<result column="STATUS"			property="status" />
		<result column="CHANGE_NAME"	property="changeName" />
	</resultMap>
	
	<!-- 게시글 총 개수 조회 -->
	<select id="selectRentBoardListCount" resultType="_int">
		SELECT
				COUNT(*)
		FROM
				RENT_BOARD
		WHERE
				STATUS = 'N'
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectRentBoardList" resultMap="RentBoardResultSet">
		SELECT
				RENT_NO,
				CHANGE_NAME,
				RENT_TITLE,
				RENT_POINT,
				RENT_DATE,
				NICKNAME
		FROM
				RENT_BOARD R, MEMBER M
		WHERE
				R.USER_NO = M.USER_NO
		AND
				R.STATUS = 'N'
		ORDER
		   BY
		   		RENT_NO DESC
	</select>
	
	<!-- 게시글 등록  -->
	<insert id="insertRentBoard" parameterType="rent">
		INSERT
		  INTO
		  		RENT_BOARD
		  		(
		  		RENT_NO,
		  		USER_NO,
		  		RENT_TITLE,
		  		RENT_CONTENT,
		  		RENT_DATE,
		  		DUE_DATE,
		  		RENT_BOOKTITLE,
		  		RENT_POINT,
		  		CHANGE_NAME
		  		)
		VALUES
				(
				SEQ_RENNO.NEXTVAL,
				#{ userNo },
				#{ rentTitle },
				#{ rentContent },
				#{ rentDate },
				#{ dueDate },
				#{ rentBookTitle },
				#{ rentPoint },
				#{ changeName }
				)
	</insert>
	
	<!-- 게시글 상세보기 -->
	<select id="detailRentBoard" resultMap="RentBoardResultSet">
		SELECT
				RENT_NO,
				R.USER_NO,
				RENT_USERNO,
				RENT_TITLE,
				RENT_CONTENT,
				RENT_POINT,
				RENT_DATE,
				DUE_DATE,
				RENT_BOOKTITLE,
				CHANGE_NAME,
				NICKNAME,
				RENT_STATUS
		FROM
				RENT_BOARD R, MEMBER M
		WHERE
				R.USER_NO = M.USER_NO
		  AND 	
		  		R.STATUS = 'N'
		  AND
		  		R.RENT_NO = #{rentNo}
	</select>
	
	<!-- 대여서비스 -->
	<update id="updateStatus" parameterType="rent">
		UPDATE
				RENT_BOARD
		   SET
		   		RENT_USERNO = #{rentUserNo},
		   		RENT_STATUS = 'Y'
		  WHERE
		  		RENT_NO = #{rentNo}	
	</update>
	
	<!-- 마이페이지 대여 목록 리스트 조회 -->
	<select id="selectRentMypageList" resultMap="RentBoardResultSet">
		SELECT
				RENT_NO,
				R.USER_NO,
				RENT_USERNO,
				RENT_DATE,
				DUE_DATE,
				RENT_BOOKTITLE,
				NICKNAME,
				R.STATUS
		FROM
				RENT_BOARD R, MEMBER M
		WHERE
				R.USER_NO = M.USER_NO
		AND
				R.USER_NO = #{userNo}
		AND
				RENT_USERNO IS NOT NULL
				
			
	</select>
	
</mapper>