<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	
	<resultMap id="reportResultSet" type="report">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REPORT_TITLE" property="reportTitle"/>
		<result column="REPORT_CATEGORY" property="reportCategory"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="NICKNAME" property="nickName"/>	
	</resultMap>
	
	<insert id="insertReport" parameterType="report">
		insert
		   into
		        report
		        (
		        report_no
		        ,user_no
		        ,report_title
		        ,report_category
		        ,report_content
		        ,review_no
		        )
 	 values
 	 		  (
 	 		  seq_repno.nextval
 	 		  ,#{userNo}
 	 		  ,#{reportTitle}
 	 		  ,#{reportCategory}
 	 		  ,#{reportContent}
 	 		  ,#{reviewNo}
 	 		  )       
		        
	</insert>
	
	<select id="selectReportList" resultMap="reportResultSet">
		select
		        report_no
		        ,user_no
		        ,report_title
		        ,report_date
		        ,report_category
		        ,report_content
		        ,report_status
		        ,review_no
		from
		      report
		order
		    by
		       report_no desc              
		        
	</select>
	
	<select id="selectReport" parameterType="_int" resultMap="reportResultSet">
		select
		        report_no
		        ,r.user_no
		        ,report_title
		        ,report_category
		        ,report_content
		        ,report_status
		        ,review_no
		        ,nickName
		from
		      report r
		join
		      member m on (r.user_no = m.user_no)      
		where
		      report_no = #{rno}      
				
	</select>
	
	<update id="updateReportStatus" parameterType="_int">
		update
		         report
		    set
		         report_status = 'Y'
		where
		         review_no = #{reviewNo}          
	</update>
	
	<update id="updateReviewStatus" parameterType="_int">
		update
				review
			set
				review_status = 'Y'
		where
				review_no = #{reviewNo}		
	</update>
</mapper>