<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="reviewMapper">


	<resultMap id="reviewResultSet" type="review">
		<result column="REVIEW_NO"      property="reviewNo" />
		<result column="USER_NO"		property="userNo" />
		<result column="REVIEW_STAR"	property="reviewStar" />
		<result column="REVIEW_TITLE"	property="reviewTitle" />
		<result column="REVIEW_CONTENT"	property="reviewContent" />
		<result column="CREATE_DATE"	property="createDate" />
		<result column="COUNT"		    property="count" />
		<result column="REVIEW_STATUS"	property="reviewStatus" />
		<result column="BOOK_AUTHOR"	property="bookAuthor" />
		<result column="BOOK_GENRE"		property="bookGenre" />
		<result column="BOOK_IMAG"		property="bookImag" />
		<result column="BOOK_POINT"  	property="bookPoint" />
		<result column="BOOK_NO"	    property="bookNo" />
	</resultMap>

	<resultMap id="bookResultSet" type="book">
		<result column="BOOK_NAME"      property="bookName" />
		<result column="ISBN"		    property="isbn" />
	</resultMap>



	<!-- isbn 조회 쿼리문 -->
	<select id="selectIsbn" parameterType="book" resultMap="bookResultSet">
		select
		       isbn
		  from 
		       book
		 where
		       book_name = #{bookName}
	</select>
	
	
	<!-- 글작성 쿼리문 -->
<!-- 
<insert id="insertReviewBoard" parameterType="review">
 리뷰넘버, 작성자, 별점, 리뷰 제목, 리뷰내용, 작성일, 조회수, 리뷰 상태, 책제목, 작가, 장르, 사진, 포인트
REVIEW_NO, USER_NO, REVIEW_STAR REVIEW_TITLE, REVIEW_CONTENT, CREATE_DATE, COUNT, REVIEW_STATUS, BOOK_TITLE, BOOK_AUTHOR, BOOK_GENRE, BOOK_IMAG, BOOK_POINT
INSERT INTO REVIEW
values(SEQ_RNO, admin, 3, '자바의신이 되고싶으시다면', '자바의정석은 정말 좋습니다',SYSDATE, , 'N', ');
</insert>
-->
	
	
	
</mapper>
