<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="usedMapper">


	<resultMap id="usedResultSet" type="used">
		<result column="USED_NO"        property="usedNo" />
		<result column="USER_NO"		property="userNo" />
		<result column="USED_TITLE"		property="usedTitle" />
		<result column="USED_CONTENT"	property="usedContent" />
		<result column="CREATE_DATE"	property="createDate" />
		<result column="USED_STATUS"	property="usedStatus" />
		<result column="COUNT"		    property="count" />
		<result column="POINT"		    property="point" />
		<result column="STOCK_STATUS"	property="stockStatus" />
		<result column="BOOK_GENRE"		property="bookGenre" />
		<result column="BOOK_AUTHOR"	property="bookAuthor" />
		<result column="BOOK_TITLE"	    property="bookTitle" />
		<result column="ORIGIN_NAME"	property="originName" />
		<result column="CHANGE_NAME"	property="changeName" />
	</resultMap>


	<!-- 글작성 쿼리문 -->
	<insert id="insertUsedBoard" parameterType="used">
		insert
		  into
		  	   usedBoard
		       (
		       used_no
		      ,user_no
		      ,used_title
		      ,book_author
		      ,book_genre
		      ,point
		      ,book_title
		      ,used_content
		       )
		values
			   (
			   seq_useno.nextval
			  ,#{userNo}
			  ,#{usedTitle}
			  ,#{bookAuthor}
			  ,#{bookGenre}
			  ,#{point}
			  ,#{bookTitle}
			  ,#{usedContent}
			   )
	</insert>


</mapper>
