<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">

	<resultMap id="userResultSet" type="user">
		<result column="USER_ID" 			property="userId" />
		<result column="USER_PWD"			property="userPwd" />
		<result column="NAME"				property="name" />
		<result column="EMAIL"				property="email" />
		<result column="NICKNAME"			property="nickname" />
		<result column="PHONE"				property="phone" />
		<result column="BIRTH_DATE"			property="birthDate" />
		<result column="GENDER"				property="gender" />
		<result column="ADDRESS"			property="address" />
		<result column="DETAIL_ADDRESS"		property="detailAddress" />
		<result column="USER_GRADE"			property="userGrade" />
		<result column="USER_NO"			property="userNo" />
		<result column="ENROLL_DATE"		property="enrollDate" />
		<result column="PROFILE_IMG"		property="profileImg" />
		<result column="POINT"    			property="point" />
		<result column="STATUS"				property="status" />
		<result column="AUCTION_BOARD"		property="auctionBoard" />
		<result column="CLUB_BOARD"				property="clubBoard" />
		<result column="DRAW_BOARD"				property="drawBoard" />
		<result column="RENT_BOARD"				property="rentBoard" />
		<result column="REVIEW"				property="review" />
		<result column="USED_BOARD"				property="usedBoard" />
		<result column="BOARD"				property="board" />
	</resultMap>

	<resultMap type="club" id="groupResultSet">
		<result column="CLUB_NO" property="clubNo" />
		<result column="CLUB_NO" property="userNo" />
		<result column="CLUB_NAME" property="clubName" />
		<result column="CLUB_LIMIT" property="clubLimit" />
		<result column="CLUB_CREATEDATE" property="clubCreatedate" />
		<result column="CLUB_DISCRIPT" property="clubDiscript" />
		<result column="CLUB_LOCATION" property="clubLocation" />
		<result column="CLUB_STATUS" property="clubStatus" />
		<result column="CLUB_IMG" property="clubImg" />
		<result column="newCount" property="newCount" />
		<result column="CLUB_COUNT" property="clubCount" />
		<result column="likeCount" property="likeCount" />
	</resultMap>
	
	<resultMap id="inqResultSet" type="inquiry">
			<result column="inq_no"			property="inqNo" />
			<result column="user_no"		property="userNo" />
			<result column="inq_title"		property="inqTitle" />
			<result column="inq_content"	property="inqContent" />
			<result column="inq_type"		property="inqType" />
			<result column="inq_date"		property="inqDate" />
			<result column="inq_status"		property="inqStatus" />
			<result column="answer"			property="answer" />
	</resultMap>
	
	<resultMap type="novel" id="novelResultSet">
		<result column="novel_no"		property="novelNo" />
		<result column="user_no"		property="userNo" />
		<result column="novel_title"	property="novelTitle" />
		<result column="novel_display"	property="novelDisplay" />
		<result column="start_date"		property="startDate" />
		<result column="count"			property="count" />
		<result column="heart"			property="heart" />
		<result column="serial_status"	property="serialStatus" />
		<result column="charge_status"	property="chargeStatus" />
		<result column="nickname"		property="nickName" />
		<result column="origin_name"	property="originName" />
		<result column="change_name"	property="changeName" />
	</resultMap>
	
	<resultMap type="faq" id="faqResultSet">
		<result column="faq_no"			property="faqNo" />
		<result column="user_no"		property="userNo" />
		<result column="faq_type"		property="faqType" />
		<result column="faq_title"		property="faqTitle" />
		<result column="faq_answer"		property="faqAnswer" />
		<result column="enroll_date"	property="enrollDate" />
	</resultMap>
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertUser" parameterType="user">
		INSERT
		  INTO
			  MEMBER
			  (
			  	USER_NO,
				USER_ID,
				USER_PWD,
				NAME,
				EMAIL,
				NICKNAME,
				PHONE,
				BIRTH_DATE,
				GENDER,
				ADDRESS,
				DETAIL_ADDRESS
			  )
		VALUES
			  (
			  	SEQ_UNO.NEXTVAL,
			  	#{userId},
			  	#{userPwd},
			  	#{name},
			  	#{email},
			  	#{nickname},
			  	#{phone},
			  	#{birthDate},
			  	#{gender},
			  	#{address},
			  	#{detailAddress}
			  )		
	</insert>
	
	<!-- 로그인용 쿼리문 -->
	<select id="loginUser" parameterType="user" resultMap="userResultSet">
		SELECT
				USER_NO,
				USER_ID,
				USER_PWD,
				NAME,
				EMAIL,
				NICKNAME,
				PHONE,
				BIRTH_DATE,
				GENDER,
				ADDRESS,
				DETAIL_ADDRESS,
				ENROLL_DATE,
				PROFILE_IMG,
				USER_GRADE,
				( SELECT SUM(POINT_ADD) "POINT"
					 FROM POINT 
					 JOIN MEMBER M USING(USER_NO)
					 WHERE  M.USER_ID = #{ userId } ) "POINT",
				STATUS,
				(SELECT
		                COUNT(*)
		          FROM
		                AUCTION_BOARD
		         WHERE
		                USER_ID = #{userId}
		           AND
		                STATUS = 'N') AUCTION_BOARD,
		        
		        (SELECT
		                COUNT(*)
		          FROM
		                DRAW_BOARD
		         WHERE
		                USER_ID = #{userId}) DRAW_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                BOARD
		         WHERE
		                USER_ID = #{userId}) BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                CLUB_BOARD
		         WHERE
		                USER_ID = #{userId}) CLUB_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                RENT_BOARD
		         WHERE
		                USER_ID = #{userId}) RENT_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                REVIEW
		         WHERE
		                USER_ID = #{userId}) REVIEW,
		        (SELECT
		                COUNT(*)
		          FROM
		                USED_BOARD
		         WHERE
		                USER_ID = #{userId}) USED_BOARD

		FROM
				MEMBER
		WHERE
				USER_ID = #{userId}
		AND
				STATUS = 'N'
	
	</select>
	
	<!-- id중복체크용 쿼리문 -->
	<select id="idCheck" resultType="_int">
		SELECT
				COUNT(*)
		FROM
				MEMBER
		WHERE 	
				USER_ID = #{checkId}
	</select>
	
	<!-- 연재요청 수락후 회원등급변경 -->
	<update id="updateUserGrade">
		update
				member
		set
				user_grade = '2'
		where
				user_no = #{ userNo }
	</update>

	<!-- 관리자 회원조회 총 몇명 세기 -->
	<select id="selectUserListCount" resultType="_int">
		select
				count(*)
		from
				member
	</select>
	
	<!-- 관리자 회원조회 쿼리문 -->
	<select id="selectUserList" resultMap="userResultSet">
		select
				user_no,
				user_id,
				nickname,
				email,
				enroll_date,
				user_grade,
				status
		from
				member
	</select>
	
	<!-- 관리자 모임조회 총 몇개 세기 -->
	<select id="selectGroupListCount" resultType="_int">
		select
				count(*)
		from
				CLUB
	</select>
	
	<!-- 관리자 모임조회 쿼리문 -->
	<select id="selectGroupList" resultMap="groupResultSet">
		select
				CLUB_NO,
				(select nickname from member m where m.user_no = c.user_no) as nickName,
				CLUB_NAME,
				CLUB_CREATEDATE,
				CLUB_STATUS
		from
				CLUB c
	</select>
	
	<!-- 닉네임 중복체크용 쿼리문 -->
	<select id="nicknameCheck" resultType="_int">
		SELECT
				COUNT(*)
		FROM
				MEMBER
		WHERE 	
				NICKNAME = #{checkNickname}
	</select>
	
	<!-- 개인정보수정 쿼리문 -->
	<update id="updateUser" parameterType="user">
		UPDATE
				MEMBER
		SET
				USER_ID = #{userId},
				NAME = #{name},
				NICKNAME = #{nickname},
				EMAIL = #{email},
				PHONE = #{phone},
				ADDRESS = #{address},
				DETAIL_ADDRESS = #{detailAddress},
				PROFILE_IMG = #{profileImg}
		WHERE
				USER_NO = #{userNo}
	</update>
	
	<!-- 회원탈퇴 쿼리문 -->
	<update id="deleteUser">
		UPDATE
				MEMBER
		SET
				STATUS = 'Y'
		WHERE
				USER_NO = #{userNo}
	</update>
	
	<!-- 문의 총 몇개 세기 -->
	<select id="selectInqListCount" resultType="_int">
		select
				count(*)
		from
				inquiry
	</select>
	
	<!-- 관리자 문의조회 쿼리문 -->
	<select id="selectInqList" resultMap="inqResultSet">
		select
				inq_no,
				(select nickname from member m where m.user_no = iq.user_no) as nickName,
				inq_type,
				inq_title,
				inq_date,
				inq_status
		from
				inquiry iq
	</select>
	
	<!-- 1:1문의 요청 쿼리문 -->
	<insert id="insertInq" parameterType="inquiry">
		insert
			into
				inquiry
				(
				inq_no,
				user_no,
				inq_title,
				inq_content,
				inq_type,
				inq_date,
				inq_status
				)
			values
				(
				seq_ino.nextval,
				#{userNo},
				#{inqTitle},
				#{inqContent},
				#{inqType},
				sysdate,
				'N'
				)
	</insert>
	
	<!-- 1:1문의 상세조회 쿼리문 -->
	<select id="selectInquiry" resultMap="inqResultSet">
		select
				inq_no,
				user_no,
				(select nickname from member m where m.user_no = iq.user_no) as nickName,
				inq_title,
				inq_content,
				inq_type,
				inq_date,
				inq_status,
				answer
		from
				inquiry iq
		where
				inq_no = #{ inqNo }
	</select>
	
	<!-- 1:1문의 답변 쿼리문 -->
	<update id="updateInquiry" parameterType="inquiry">
		update
				inquiry
		set
				answer = #{ answer },
				inq_status = 'Y'
		where
				inq_no = #{ inqNo }
	</update>
	
	<!-- FAQ 총 몇개 세기 -->
	<select id="selectFaqListCount" resultType="_int">
		select
				count(*)
		from
				faq
	</select>
	
	<!-- FAQ 리스트 조회 쿼리문 -->
	<select id="selectFaqList" resultMap="faqResultSet">
		select
				faq_no,
				faq_type,
				faq_title,
				faq_date,
				faq_answer,
				user_no,
				enroll_date
		from
				faq
	</select>
	
	<!-- 관리자 작품 총 몇개 세기 -->
	<select id="selectNovelListCount" resultType="_int">
		select
				count(*)
		from
				NOVEL
	</select>
	
	<!-- 관리자 작품 리스트 조회 -->
		<select id="selectNovelList" resultMap="novelResultSet">
		select
				novel_no,
				n.user_no,
				novel_title,
				novel_display,
				start_date,
				count,
				heart,
				serial_status,
				charge_status,
				nickname,
				change_name
		from
				novel n
		join
				member m
		on
				n.user_no = m.user_no
	</select>
	
	<!-- 작품 상세조회 쿼리문 -->
	<select id="selectNovel" resultMap="novelResultSet">
		select
				novel_no,
				n.user_no,
				novel_title,
				novel_display,
				start_date,
				count,
				heart,
				serial_status,
				charge_status,
				nickname,
				change_name
		from
				novel n
		join
				member m
		on
				n.user_no = m.user_no
		where
				novel_no = #{ novelNo }
	</select>
	
	<!-- 작품 수정 쿼리문 -->
	<update id="updateNovel" parameterType="novel">
		update
				novel
		set
				novel_title = #{ novelTitle },
				serial_status = #{ serialStatus },
				charge_status = #{ chargeStatus },
				novel_display = #{ novelDisplay },
				origin_name = #{ originName },
				change_name = #{ changeName }
		where
				novel_no = #{ novelNo }
	</update>
	
	<select id="countWriteBoard" parameterType="int" resultMap="userResultSet">
		SELECT
		        (SELECT
		                COUNT(*)
		          FROM
		                AUCTION_BOARD
		         WHERE
		                USER_NO = #{userNo}
		           AND
		                STATUS = 'N') AUCTION_BOARD,
		        
		        (SELECT
		                COUNT(*)
		          FROM
		                DRAW_BOARD
		         WHERE
		                USER_NO = #{userNo}) DRAW_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                BOARD
		         WHERE
		                USER_NO = #{userNo}) BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                CLUB_BOARD
		         WHERE
		                USER_NO = #{userNo}) CLUB_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                RENT_BOARD
		         WHERE
		                USER_NO = #{userNo}) RENT_BOARD,
		        (SELECT
		                COUNT(*)
		          FROM
		                REVIEW
		         WHERE
		                USER_NO = #{userNo}) REVIEW,
		        (SELECT
		                COUNT(*)
		          FROM
		                USED_BOARD
		         WHERE
		                USER_NO = #{userNo}) USED_BOARD
		        
		  FROM
		        MEMBER
		 WHERE
		        USER_NO = #{userNo}
				
	</select>
	
	<update id="updateGrade" parameterType="_int">
		UPDATE
				MEMBER
		   SET
		   		USER_GRADE = USER_GRADE + 1
		 WHERE
		 		USER_NO = ${userNo}
	</update>
	
	<!-- 인증 메일 관련  -->
	<insert id="insertSecret" parameterType="cert">
		INSERT
		  INTO
		  		CERT
		  		(
		  		WHO,
		  		SECRET,
		  		WHEN
		  		)
		VALUES
				(
				#{who},
				#{secret},
				SYSDATE
				)
	</insert>
	
	<!-- 인증 번호 일치 -->
	<select id="validate" resultType="cert" parameterType="cert">
		SELECT
				*
		  FROM
		  		CERT
		  WHERE
		  		WHO = #{who}
		    AND
		    	SECRET = #{secret}
		    AND
		    	WHEN BETWEEN SYSDATE - 3/24/60 AND SYSDATE
	</select>
	
	<!-- 인증 번호가 일치됐다면 내역 삭제 -->
	<delete id="remove" parameterType="cert">
		DELETE 
				CERT 
		WHERE 
				WHO = #{who} 
		AND 
				SECRET = #{secret}
	</delete>
	
</mapper>