<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">

	<resultMap id="userResultSet" type="user">
		<result column="USER_ID" 			property="userId" />
		<result column="USER_PWD"			property="userPwd" />
		<result column="NAME"				property="name" />
		<result column="EMAIL"				property="email" />
		<result column="NICKNAME"			property="nickname" />
		<result column="PHONE"				property="phone" />
		<result column="BIRTH_DATE"			property="birthDate" />
		<result column="GENDER"				property="gender" />
		<result column="ADDRESS"			property="address" />
		<result column="DETAIL_ADDRESS"		property="detailAddress" />
		<result column="USER_GRADE"			property="userGrade" />
	
	</resultMap>
	
	
	
	<!-- 회원가입용 쿼리문 -->
	<insert id="insertUser" parameterType="user">
		INSERT
		  INTO
			  MEMBER
			  (
			  	USER_NO,
				USER_ID,
				USER_PWD,
				NAME,
				EMAIL,
				NICKNAME,
				PHONE,
				BIRTH_DATE,
				GENDER,
				ADDRESS,
				DETAIL_ADDRESS
			  )
		VALUES
			  (
			  	SEQ_UNO.NEXTVAL,
			  	#{userId},
			  	#{userPwd},
			  	#{name},
			  	#{email},
			  	#{nickname},
			  	#{phone},
			  	#{birthDate},
			  	#{gender},
			  	#{address},
			  	#{detailAddress}
			  )		
	</insert>
	
	<!-- 로그인용 쿼리문 -->
	<select id="loginUser" parameterType="user" resultMap="userResultSet">
		SELECT
				USER_NO,
				USER_ID,
				USER_PWD,
				NAME,
				EMAIL,
				NICKNAME,
				PHONE,
				BIRTH_DATE,
				GENDER,
				ADDRESS,
				DETAIL_ADDRESS,
				ENROLL_DATE,
				PROFILE_IMG,
				USER_GRADE,
				STATUS
		FROM
				MEMBER
		WHERE
				USER_ID = #{userId}
		AND
				STATUS = 'N'
	
	</select>
	
</mapper>
